/* static/css/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: poppins, sans-serif;
}

/* From Uiverse.io by Damithkumara */ 
button.addtocart {
    padding: 0.5em 0.5em;
    text-transform: lowercase;
    text-decoration: none;
    letter-spacing: 1px;
    color: transparent;
    border: 2px solid #FBE620;
    border-radius: 2px;
    font-size: 10px;
    position: relative;
    font-family: inherit;
    background: transparent;
    cursor: pointer;
  }
  
  button.addtocart::before {
    content: "add to cart";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #363636;
    color: #FBE620;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
  }
  
  button.addtocart:hover::before {
    left: 100%;
    transform: scale(0) rotateY(360deg);
    opacity: 0;
  }
  
  button.addtocart::after {
    content: "+";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #363636;
    color: #FBE620;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    transform: scale(0) rotateY(0deg);
    opacity: 0;
  }
  
  button.addtocart:hover::after {
    left: 0;
    transform: scale(1) rotateY(360deg);
    opacity: 1;
  }
  
/* From Uiverse.io by mrtqzbek11 */ 
.hold_button {
  width: 165px;
  height: 62px;
  cursor: pointer;
  color: #fff;
  font-size: 12px;
  border-radius: 1rem;
  border: none;
  position: relative;
  transition: 0.1s;
  background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2% );
}

.hold_button::after {
  content: '';
  width: 100%;
  height: 100%;
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2% );
  filter: blur(15px);
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
}

.hold_button:active {
  transform: scale(0.9) rotate(3deg);
  background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2% );
  transition: 0.5s;
}
  /* Light Theme Styles */
  body {
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
  }

  /* Dark Theme Styles */
  body.dark {
    background-color: white;
    color: black;
  }

  /* Optional: styling for the button */
  .dark .bg-gray-200 {
    background-color: #333;
  }

  .dark .text-lg {
    
  }

  .dark .sidebar {
    background-color: black;
  }
  .dark .header {
    background-color: black;
  }
  .dark .card {
    background-color: black;
    color: white;
  }
  .dark .searchbar {
    background-color: black;
    color: rgb(208, 205, 205);
  }
  .dark .searchsvg {
    color: gray;
  }
  .dark .restaurantbox {
    background-color: black;
  }
  .dark .cat-button {
    background-color: black;
    color: white;
  }
  .dark .welcome-text {
    color: black;
  }
  .dark .toggle-button {
    background-color: #90CF44;
  }
  .dark .toggle-button::after {
    color: white;
  }
  .dark .logintext {
    color: black;
  }
  .dark .loginbox {
    background-color: black;
  }
  .dark .registertext {
    color: black;
  }
  .dark .registerbox {
    background-color: black;
  }
  .dark .checkoutbtn {
    background-color: #90CF44;
  }
  .dark .contshoppingbtn {
    color: white;
  }

