{% extends 'base.html' %}
{% load static %}

{% block title %}Welcome to EatWell{% endblock %}

{% block content %}

<div id="background-container" class=" w-full flex flex-col items-center justify-center h-screen text-center  font-sans bg-cover bg-center transition-all duration-1000" style="background-image: url('{% static 'images/home_bg.png' %}'); background-size: cover; background-repeat: no-repeat; opacity: 26;">
    
    
    <div class="flex align-middle justify-center items-center">
        <div><h1 class="welcome-text text-xl md:text-4xl font-bold text-[#8A3E73]">Welcome to </h1></div>
        <div><img src="{% static 'images/eatwell.png' %}" alt="EatWell Logo" class="w-32 md:w-40"></div>
    </div>
    <p class="welcome-text text-md md:text-xl mb-8 mt-4 text-[#8A3E73]">Order delicious food from local restaurants in Ogoja and Okuku</p>
    <div class="flex flex-col justify-center md:flex-row gap-8">
        <div class="">
            <a href="{% url 'login' %}" class="">
                
                <!-- From Uiverse.io by gharsh11032000 --> 
                <button class="hold_button font-semibold">
                    Register
                </button>
  
            </a>
        </div>
        <!-- <div>
            <a href="{% url 'store_owner_register' %}" class="">
                From Uiverse.io by gharsh11032000
                <button class="hold_button">
                    Register as a store owner
                </button>
  
            </a>
        </div> -->
    </div>
</div>
{% endblock %}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const backgroundContainer = document.getElementById("background-container");
        const images = [
            "{% static 'images/foodbg1.jpg' %}",
            "{% static 'images/foodbg2.jpg' %}"
        ];
        let currentIndex = 0;

        function changeBackground() {
            currentIndex = (currentIndex + 1) % images.length;
            backgroundContainer.style.backgroundImage = `url('${images[currentIndex]}')`;
        }

        // Initial background setup
        backgroundContainer.style.backgroundImage = `url('${images[currentIndex]}')`;

        // Switch background every 4 seconds
        setInterval(changeBackground, 4000);
    });
</script>


