/* static/css/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: poppins, sans-serif;
}

/* From Uiverse.io by Damithkumara */ 
button.addtocart {
    padding: 0.5em 0.5em;
    text-transform: lowercase;
    text-decoration: none;
    letter-spacing: 1px;
    color: transparent;
    border: 2px solid #FBE620;
    border-radius: 2px;
    font-size: 10px;
    position: relative;
    font-family: inherit;
    background: transparent;
    cursor: pointer;
  }
  
  button.addtocart::before {
    content: "add to cart";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #363636;
    color: #FBE620;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
  }
  
  button.addtocart:hover::before {
    left: 100%;
    transform: scale(0) rotateY(360deg);
    opacity: 0;
  }
  
  button.addtocart::after {
    content: "+";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #363636;
    color: #FBE620;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    transform: scale(0) rotateY(0deg);
    opacity: 0;
  }
  
  button.addtocart:hover::after {
    left: 0;
    transform: scale(1) rotateY(360deg);
    opacity: 1;
  }
  
  /* From Uiverse.io by gharsh11032000 */ 
.animated-button {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 16px 36px;
  border: 4px solid;
  border-color: transparent;
  font-size: 12px;
  background-color: inherit;
  border-radius: 20px;
  font-weight: 600;
  color: white;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 0 0 0 2px #8A3E73;
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
  position: absolute;
  width: 24px;
  fill: white;
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
  right: 16px;
}

.animated-button .arr-2 {
  left: -25%;
}

.animated-button .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: #8A3E73;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
  box-shadow: 0 0 0 12px transparent;
  color: white;
  border-radius: 12px;
}

.animated-button:hover .arr-1 {
  right: -25%;
}

.animated-button:hover .arr-2 {
  left: 16px;
}

.animated-button:hover .text {
  transform: translateX(12px);
}

.animated-button:hover svg {
  fill: white;
}

.animated-button:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px #8A3E73;
}

.animated-button:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}

  /* Light Theme Styles */
  body {
    background-color: white;
    color: black;
    transition: background-color 0.3s, color 0.3s;
  }

  /* Dark Theme Styles */
  body.dark {
    background-color: white;
    color: black;
  }

  /* Optional: styling for the button */
  .dark .bg-gray-200 {
    background-color: #333;
  }

  .dark .text-lg {
    
  }

  .dark .sidebar {
    background-color: black;
  }
  .dark .header {
    background-color: black;
  }
  .dark .card {
    background-color: black;
    color: white;
  }
  .dark .searchbar {
    background-color: black;
    color: rgb(208, 205, 205);
  }
  .dark .searchsvg {
    color: gray;
  }
  .dark .restaurantbox {
    background-color: black;
  }
  .dark .cat-button {
    background-color: black;
    color: white;
  }

